<div class="containers">
  <div class="product_container" *ngIf="product as productDetail">
    <div class="img-container">
      <img
        class="img"
        [src]="productDetail.image"
        [alt]="productDetail.title"
      />
    </div>
    <div class="product-detail">
      <h3>{{ productDetail.title }}</h3>
      <p>{{ productDetail.category }}</p>
      <hr />
      <h3>{{ productDetail.price }}</h3>
      <button class="btn btn-primary" (click)="removeFromStore()">
        Remove from Store
      </button>
    </div>
  </div>
</div>
