<div class="orderDetailsWrapper">
  <div class="orderDetails">
    <h1>Order Placed Successfully</h1>
    <p>
      <span>{{ name }}</span
      >, Your Order will be delivered on <span>{{ deliveryDate }}</span> by
      <span>09:00 pm</span>
    </p>
    <p>
      An email will be shortly sent to <span>{{ email }}</span>
    </p>
  </div>
</div>

<!-- <div class="cart-item-container" *ngFor="let cartItem of cartItems">
  <div class="img-container">
    <img [src]="cartItem.image" alt="cartItem.title" />
  </div>

  <div class="cart-item-detail">
    <h4>{{ cartItem.title }}</h4>
    <p>{{ cartItem.price }}/item</p>

    <div class="btn-container">
      <h5>x{{ cartItem.quantity }}</h5>
    </div>
  </div>
  <hr />
</div> -->
