.orderWrapper {
  display: flex;
  flex-direction: column;
}
.orderDetailsWrapper {
  width: 900px;
  margin: 120px auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.orderDetails {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.cart-item-container {
  display: flex;
  gap: 3rem;
  margin: 2rem auto;
  /* border: 1px solid black; */
  padding: 0.5rem;
}

.img-container {
  display: flex;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
}

.cart-item-detail {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

span {
  font-weight: 500;
}
